
.body{
    background-image: url(coolbreeze-on-the-beach-.jpg);
    background-size: cover
}
.row{
    max-width: 1350px;
}

.p{
    font-family: 'Lobster', cursive;
    font-size: 230%;
    color: white;
    font-family: 'Courgette', cursive;
}
.img{
   border-radius: ;
}
.img img{
    width: 300px;
    height: 300px;
    display: block;
    border-radius: 100%;
}


.border{
    border: 15px solid white;
 -webkit-box-shadow: 0px 0px 20px rgba(0,0,0,.8);
        -moz-box-shadow: 0px 0px 20px rgba(0,0,0,.8);
            box-shadow: 0px 0px 20px rgba(0,0,0,.8);
}
.box {
background-color: #3371FF;
  border-radius: 2px;
  cursor: pointer;
  height: 95px;
  line-height: 95px;
  text-align: center;
  transition-property: background, border-radius;
  transition-duration: .2s, 1s;
  transition-timing-function: linear;
  width: 250px;
}
.box:hover {
  background-color: aqua;
  border-radius: 100%;
}
.about{
    text-align: center;
}
.gray{
    background-color:#BBBEC4;
    font-size: 18px;
}
.button{
    background-color: aqua;
    color: black;
}
.modal{
    background-color: gray;
}
.centre{
    text-align: center;
}
.abt{
    background-image: url(../img/beautiful-waterfall-ytgifs-8lo8-o.gif);
    background-size:contain;
   background-repeat: no-repeat;

}
.hi{
    height: 50px;
}
.g{
    background-color: #191970;
    margin-left: 10px;
}
.b{
    background-color: aquamarine;
}
.w{
    background-color: white;
}

/*animation css*/
.slideUp{
	animation-name: slideUp;
	-webkit-animation-name: slideUp;

	animation-duration: 6s;
	-webkit-animation-duration: 6s;

	animation-timing-function: ease;
	-webkit-animation-timing-function: ease;

	visibility: visible !important;
}

@keyframes slideUp {
	0% {
		transform: translateY(100%);
	}
	50%{
		transform: translateY(-8%);
	}
	65%{
		transform: translateY(4%);
	}
	80%{
		transform: translateY(-4%);
	}
	95%{
		transform: translateY(2%);
	}
	100% {
		transform: translateY(0%);
	}
}

@-webkit-keyframes slideUp {
	0% {
		-webkit-transform: translateY(100%);
	}
	50%{
		-webkit-transform: translateY(-8%);
	}
	65%{
		-webkit-transform: translateY(4%);
	}
	80%{
		-webkit-transform: translateY(-4%);
	}
	95%{
		-webkit-transform: translateY(2%);
	}
	100% {
		-webkit-transform: translateY(0%);
	}
}

/*
