body{
    background-color: white;
}
.sticky {
  width: 100%;
}
#menu {
    width: 700px;
    height: 45px;
    font-size: 30px;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bold;
    text-align: center;
    text-shadow: 3px 2px 3px #333333;
        border-radius: 8px;

}

#menu a {
    text-decoration: none;
    color:white;
    padding: 8px 8px 8px 8px;
}
#menu li {
display: inline;
padding: 20px;
    color: white;
}
/* home page */

.body{
    background-image:url(../img/439761.jpg) ;
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;

}
.r{
    margin-top: 60px;
}

.p{
    font-family: 'Lobster', cursive;
    font-size: 230%;
    color: white;
    font-family: 'Courgette', cursive;
}
.white{
    color: white;
}
.img{
   border-radius:100px ;
}
.pi{
    color: black;
}
.img img{
    width: 100px;
    height: 100px;
    display: block;
    border-radius: 100%;
}

.right{
    text-align: right;
}

.box {
background-color: #33383b;
  border-radius: 2px;
  cursor: pointer;
  height: 55px;
  line-height: 75px;
  text-align: center;
  transition-property: background, border-radius;
  transition-duration: .2s, 1s;
  transition-timing-function: linear;
  width: 250px;
}
.box:hover {
  background-color: red;
  border-radius: 100%;
}
.about{
    text-align: center;
}
.gray{
    background-color:#BBBEC4;
    font-size: 18px;
}
.button{
    background-color:#00bfff;
    color: black;
    width: 100px;
}
.modal{
    background-color:#819FF7;
}
.centre{
    text-align: center;
}
.abt{
    text-align: right;

}
.b{

}
.hi{
    height: 60px;
}
.h{
    height: 200px
}
.m{
    font-size: 40px;
}
.g{
    background-color: #191970;
    margin-left: 10px;
}
.b{
    background-color: aquamarine;
}
.fu{
    font-size: 20px;
}
.w{
    background-color: white;
}
.font{
    font-family: 'Bree Serif', serif;
    color:#FF0000;
}
.f{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 20px;
}


/*animation css*/
.slideUp{
	animation-name: slideUp;
	-webkit-animation-name: slideUp;

	animation-duration:5s;
	-webkit-animation-duration: 5s;

	animation-timing-function: ease;
	-webkit-animation-timing-function: ease;

	visibility: visible !important;
}

@keyframes slideUp {
	0% {
		transform: translateY(100%);
	}
	50%{
		transform: translateY(-8%);
	}
	65%{
		transform: translateY(4%);
	}
	80%{
		transform: translateY(-4%);
	}
	95%{
		transform: translateY(2%);
	}
	100% {
		transform: translateY(0%);
	}
}

@-webkit-keyframes slideUp {
	0% {
		-webkit-transform: translateY(100%);
	}
	50%{
		-webkit-transform: translateY(-8%);
	}
	65%{
		-webkit-transform: translateY(4%);
	}
	80%{
		-webkit-transform: translateY(-4%);
	}
	95%{
		-webkit-transform: translateY(2%);
	}
	100% {
		-webkit-transform: translateY(0%);
	}
}

.white{
    background-color: white;
}
/*footer details style*/

@charset "UTF-8";
.hero {
  background: url("http://www.banksy-wallpaper.com/wallpapers/800x600/10-i-am-father.jpg") no-repeat center center;
  background-size: cover;
  height: 50vh;
  overflow: hidden; }
  .hero h1, .hero h2 {
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    padding: 1rem 0 0 1rem;
    margin: 0; }

.row {
  max-width: 1200px; }

.footer {
  background-color: #292c2f;
  text-align: center;
  font-size: 1.2rem;
  padding: 4rem; }
  .footer .inline-list a {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 1.5rem;
    color: #fff;
    text-align: center;
    line-height: 35px;
    margin: 0 3px 0 0; }
  .footer .contact {
    list-style-type: none;
    margin: 0;
    text-align: left;
    color: #fff; }
    .footer .contact li {
      margin-bottom: 2rem; }
      .footer .contact li p {
        padding-left: 5rem; }
    .footer .contact i {
      position: absolute;
      background-color: #33383b;
      color: #fff;
      font-size: 2rem;
      border-radius: 50%;
      line-height: 1;
      margin: 0 0 0 -4rem;
      vertical-align: middle;
      padding: .25em .45em; }
  .footer .copywrite {
    color: #8f9296;
    font-size: 0.875rem;
    margin: 0 0 1rem 0; }
  .footer .about {
    color: #92999f;
    font-size: 0.875rem;
    margin: 0 0 1rem 0; }
  .footer .footer-links a {
    list-style: none;
    font-weight: normal;
    color: #fff;
    padding: 3rem 0 2rem;
    margin: 0;
    font-size: 0.875rem; }
    .footer .footer-links a::after {
      content: "•";
      padding: 0 0.2rem 0 0.4rem; }
    .footer .footer-links a:last-child::after {
      content: "";
      padding: 0 0.4rem 0 0.8rem; }
  @media only screen and (min-width: 40.063em) {
    .footer p {
      text-align: left; }
    .footer .social {
      text-align: left;
      margin: 0; }
    .footer .contact {
      text-align: left; }
      .footer .contact > i {
        margin-right: 1rem; } }

.logo {
  color: #fff;
  font-size: 1.5rem; }
  .logo i {
    margin-right: 0.5rem; }

.slideExpandUp{
	animation-name: slideExpandUp;
	-webkit-animation-name: slideExpandUp;

	animation-duration: 2s;
	-webkit-animation-duration: 2s;

	animation-timing-function: ease-out;
	-webkit-animation-timing-function: ease -out;

	visibility: visible !important;
}

@keyframes slideExpandUp {
	0% {
		transform: translateY(100%) scaleX(0.5);
	}
	30%{
		transform: translateY(-8%) scaleX(0.5);
	}
	40%{
		transform: translateY(2%) scaleX(0.5);
	}
	50%{
		transform: translateY(0%) scaleX(1.1);
	}
	60%{
		transform: translateY(0%) scaleX(0.9);
	}
	70% {
		transform: translateY(0%) scaleX(1.05);
	}
	80%{
		transform: translateY(0%) scaleX(0.95);
	}
	90% {
		transform: translateY(0%) scaleX(1.02);
	}
	100%{
		transform: translateY(0%) scaleX(1);
	}
}

@-webkit-keyframes slideExpandUp {
	0% {
		-webkit-transform: translateY(100%) scaleX(0.5);
	}
	30%{
		-webkit-transform: translateY(-8%) scaleX(0.5);
	}
	40%{
		-webkit-transform: translateY(2%) scaleX(0.5);
	}
	50%{
		-webkit-transform: translateY(0%) scaleX(1.1);
	}
	60%{
		-webkit-transform: translateY(0%) scaleX(0.9);
	}
	70% {
		-webkit-transform: translateY(0%) scaleX(1.05);
	}
	80%{
		-webkit-transform: translateY(0%) scaleX(0.95);
	}
	90% {
		-webkit-transform: translateY(0%) scaleX(1.02);
	}
	100%{
		-webkit-transform: translateY(0%) scaleX(1);
	}
}

